<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>우리 동네 지반침하 안전점수</title>
  <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <div id="wrap">
    <div id="header">
      <div class="menu-icon"></div>
    </div>

    <div id="container">
      <div class="title">우리 동네 지반침하 안전점수</div>

      <div class="search-bar">
        <input type="text" placeholder="주소를 입력해주세요">
        <button type="submit" class="btn_search">
          <img src="img/search_btn.png" alt="검색 버튼">
        </button>
      </div>

      <div class="latest-box">
        <h3><strong>최신 등록 위치</strong></h3>

        <div class="entry">
          <div class="location">서울특별시 강남구</div>
          <div class="details">2025/06/13 15:32:53<br>강남구 ○○동 지반침하 발생</div>
        </div>

        <div class="entry">
          <div class="location">서울특별시 구로구</div>
          <div class="details">2025/06/11 11:24:34<br>구로구 ○○동 싱크홀 발생</div>
        </div>

        <div class="entry">
          <div class="location">전라남도 순천시</div>
          <div class="details">2025/06/07 17:12:25<br>순천시 ○○동 지반침하 발생</div>
        </div>

        <div class="entry">
          <div class="location">부산광역시 동래구</div>
          <div class="details">2025/05/29 14:32:13<br>동래구 ○○동 포트홀 발생</div>
        </div>

        <div class="entry">
          <div class="location">광주광역시 광산구</div>
          <div class="details">2025/05/25 13:29:30<br>광산구 ○○동 지반침하 발생</div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>